In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import pickle

from sklearn.linear_model import LogisticRegression
from sklearn.utils import shuffle
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import log_loss
from sklearn import preprocessing
from sklearn import model_selection 
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split 

import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

dataset_file = 'datasets/2019.xlsx'
df = pd.read_excel(dataset_file)

In [4]:
df = df.drop(['ATP','Tournament','Date','Series','B365W','B365L','EXW','EXL','LBW','LBL','PSW','PSL','SJW','SJL','MaxW','MaxL','AvgW','AvgL','LPts','W1','L1','W2','L2','W3','L3','W4','L4','W5','L5','Wsets','Lsets','Comment','WPts','Best of','Location','Court'], axis=1)
df.index.name   = "Match ID"
df.columns.name = "Attributes"

In [5]:
# I couldn't find any dataset that gave me the the players qualified to AustralianOpen 
# I "googled" the players and made a list with the first 32 players of AO2018 => this can be considered as a dataset

players = ["Nadal R.", "Federer R.", "Dimitrov G.", "Zverev A.", "Thiem D.", "Cilic M.", "Goffin D.", "Sock J.", "Wawrinka S.",
          "Carreno Busta P.", "Anderson K.", "Del Potro J.M.", "Querrey S.", "Djokovic N.", "Tsonga J.W.", "Isner J.", "Kyrgios N.",           
    "Pouille L.", "Berdych T.", "Bautista Agut R.", "Ramos-Vinolas A.", "Raonic M.", "Muller G.", "Schwartzman D.",
          "Fognini F.", "Mannarino A.", "Kohlschreiber P.", "Dzumhur D.", "Gasquet R.", "Rublev A.", "Cuevas P.","Zverev M."]
keys = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31]
dictionary = dict(zip(keys, players))

In [6]:
indexNames = df[(~df['Winner'].isin(dictionary.values())) | (~df['Loser'].isin(dictionary.values())) | (df['Surface'] != 'Hard')].index
df.drop(indexNames, inplace = True)
df = df.reset_index(drop=True)

In [7]:
print ("Dataframe shape is:", df.shape)
num_matches, num_columns = df.shape
print ("The number of matches is:", num_matches)

Dataframe shape is: (1252, 6)
The number of matches is: 1252

In [8]:
# I can drop now the surface too because we are considering just matches on the Hard Surface and I already
# filtered the matches in this way ;

df = df.drop('Surface', axis = 1)

In [9]:
players = df['Winner'].value_counts() - df['Loser'].value_counts()
win_players = df['Winner'].value_counts() 
los_players = df['Loser'].value_counts()
new_frame = pd.concat([win_players, los_players, players], axis=1)
new_frame = new_frame.rename(index={1: "W", 2: "L", 3: "W-L"})

In [10]:
new_frame.columns = ["W","L","W-L"]

In [11]:
new_frame.index.name   = "Player"
new_frame.columns.name = "Attributes"

In [12]:
new_frame.head()

Attributes         W   L  W-L
Player
Anderson K.       42  61  -19
Bautista Agut R.  18  21   -3
Berdych T.        65  65    0
Carreno Busta P.  18  20   -2
Cilic M.          39  58  -19

In [13]:
df.head()

Attributes          Round          Winner           Loser  WRank  LRank
0              Semifinals      Kyrgios N.     Dimitrov G.   21.0    3.0
1               1st Round  Schwartzman D.      Querrey S.   52.0   31.0
2               2nd Round       Raonic M.  Schwartzman D.    3.0   52.0
3               2nd Round        Nadal R.       Zverev M.    9.0   51.0
4           Quarterfinals     Dimitrov G.        Thiem D.   17.0    8.0

In [14]:
df2020 = df
df2020 = df2020.rename({'Winner': 'Player_1', 'Loser': 'Player_2'}, axis='columns')
df2020["Winner"] = 1
df2020.head()

Attributes,Round,Player_1,Player_2,WRank,LRank,Winner
0,Semifinals,Kyrgios N.,Dimitrov G.,21.0,3.0,1
1,1st Round,Schwartzman D.,Querrey S.,52.0,31.0,1
2,2nd Round,Raonic M.,Schwartzman D.,3.0,52.0,1
3,2nd Round,Nadal R.,Zverev M.,9.0,51.0,1
4,Quarterfinals,Dimitrov G.,Thiem D.,17.0,8.0,1

In [15]:
final = pd.get_dummies(df2020, prefix = ['Player_1','Player_2'], columns = ['Player_1','Player_2'])
final = final.drop("Round", axis = 1)

In [ ]:
clasbyseconds= {' Novak Djokovic' : 1025654400, ' Rafael Nadal' : 1056153600,
                ' Roger Federer' : 1208217600 , ' Alexander Zverev' : 712800000,
                ' Kevin Anderson' : 1057536000 ,'  Marin Čilić' : 982886400 ,
                ' Dominic Thiem' : 827280000 ,'  Kei Nishikori' : 943401600 ,
                ' John Isner' : 1090972800 ,'Karen Khachanov ' : 741657600,
                ' Borna Ćorić' : 726364800,
                ' Fabio Fognini' : 1025481600 ,' Kyle Edmund' : 784771200,
                ' Stefanos Tsitsipas' : 671414400 ,' Daniil Medvedev' : 750297600 ,
                ' Milos Raonic' : 912038400 ,
                ' Marco Cecchinato' : 856483200 ,'Diego Schwartzman' : 860371200 ,
                '  Nikoloz Basilashvili' : 875491200 ,
                ' Grigor Dimitrov' : 899942400 ,' David Goffin' : 913766400 ,
                ' Roberto Bautista Agut' : 997315200 ,
                ' Pablo Carreño Busta' : 895017600 ,'  Chung Hyeon' : 741830400 ,
                ' Denis Shapovalov' : 650160000,' Fernando Verdasco' : 1136592000 ,
                ' Alex de Minaur' : 655084800 ,
                ' Lucas Pouille' : 812332800 ,'  Gilles Simon' : 1101340800 ,
                ' Gaël Monfils' : 1048377600 ,
                ' Steve Johnson' : 943833600,' Philipp Kohlschreiber' : 1139184000 ,}

In [16]:
X = final.drop(['WRank'], axis=1)

In [17]:
y = final['WRank']

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state = 42)

In [19]:
final.head()

,WRank,LRank,Winner,Player_1_Anderson K.,Player_1_Bautista Agut R.,Player_1_Berdych T.,Player_1_Carreno Busta P.,Player_1_Cilic M.,Player_1_Cuevas P.,Player_1_Del Potro J.M.,...,Player_2_Ramos-Vinolas A.,Player_2_Raonic M.,Player_2_Rublev A.,Player_2_Schwartzman D.,Player_2_Sock J.,Player_2_Thiem D.,Player_2_Tsonga J.W.,Player_2_Wawrinka S.,Player_2_Zverev A.,Player_2_Zverev M.
0,21.0,3.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,52.0,31.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3.0,52.0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,9.0,51.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,17.0,8.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [26]:
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
score = logreg.score(X_train, y_train)
score2 = logreg.score(X_test, y_test)

In [27]:
print(score)

0.3721461187214612

In [28]:
print(score2)

0.23670212765957446